<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="customerBean" class="com.rtpl.common.Customer">
	<property name="address" value="#{addressBean}"></property>
	<property name="Country" value="#{addressBean.Country}"></property>
	<property name="fullAddress" value="#{addressBean.getFullAddress('london')}"></property>
	</bean>
	
	<bean id="addressBean" class="com.rtpl.common.Address">
		<property name="street" value="Block ABC, LakeView" />
		<property name="postcode" value="98700" />
		<property name="Country" value="US" />
	</bean>
	
	
	
	</beans>